body {
    background-color: rgb(255, 255, 231);
    /* background-image: url(Kerlolis\ Aymen.jpg);
    background-size: cover;
    background-repeat:repeat; */
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    margin: 0px;
}

.withoutbar {
    padding: 0px 20px;
    margin-top: 100px;
}

.aboutme {
    background-color: rgb(255, 255, 231);
    overflow: visible;
}


.aboutme {
    display: flex;
    flex-direction: row;
}

.aboutme p,
.contact {
    width: calc(100% - 200px);
    padding: 15px;
    background-color: rgb(236, 236, 198);
    border-radius: 25px;
    box-sizing: border-box;
    box-shadow: 0px 1px 20px 1px #0000000f;
}

.contact {
    width: auto;
}

.aboutme img {
    border-radius: 50%;
    border: #a52a2a solid 5px;
    width: 200px;
    margin: auto;
}

.one,
.two,
.three {
    width: fit-content;
    border-bottom-width: 5px;
    margin: 10px;
    border-radius: 10px;
    border-bottom-style: solid;
    background-color: #b4cf69;
    padding: 10px;
    /* height: 300px; */
    transition-duration: 0.3s;
}

.one {

    border-bottom-color: red;
}

.two {
    size: 2px;
    border-bottom-color: black;
}

.three {
    size: 2px;
    border-bottom-color: green;
}

.three:hover,
.two:hover,
.one:hover {
    margin-left: 40px;
}

.kk {

    height: 150px;
    /* font-size: 250%; */
    overflow: auto;
}

header, footer {
    background-color: brown;
    margin: 0;
    text-align: center;
    padding: 20px;
    font-size: 180%;
    font-weight: bold;
    color: azure;
    background-image: linear-gradient(352deg, brown, rgb(104, 26, 26));
}

header {
    text-align: left;
    position: fixed;
    z-index: 1000;
    width: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 5px 11px 0 #00000042;
}





.clear {
    clear: both;
}



table {
    width: 500px;
    margin: auto;
    margin-bottom: 100px;
    border-spacing: 5px;
}

table td,
table th {
    padding: 5px 15px;
    background-color: rgb(165 42 42);
    margin: 20px;
    border-radius: 15px;
    color: white;
}

table th {

    background-color: rgb(101 0 0);

    color: white;
}




a:hover {
    color: red;
}


* {
    box-sizing: border-box;
}

.flex {
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
}

.flex div {

    background-color: #b4cf69;
    padding: 15px;
    box-sizing: border-box;
    width: calc((100%/3 - 30px));
    border-radius: 10px;
    margin: 15px;
    transition-duration: 0.5s;
}

.flex div:hover {
    margin-left: 65px;
    width: calc((100%/3 - 30px) - 50px);
}